.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: 'column';
  }
.content div{
    display: 'flex';
    width:'50%';
    height:'75%';
}
  table, th {
    border: 1px solid black;
  }

  .centerTable{
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  td{
      width: 25px;
      border: 1px solid black;

  }